* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: auto;
}

.calculator {
    background-color: #fff;
    max-width: 1000px;
    width: 100%;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    padding: 50px;
}

.calculator-header {
    color: #2c3e50;
    margin-bottom: 20px;
}

.calculator-header h1 {
    font-size: 2.5em;
    color: #333;
}

.calculator--grids {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 60px;
    align-items: start;
}

.calculator-results {
    display: flex;
    flex-direction: column;
}

.calculator__results {
    margin-top: -10px;
}

@media (max-width: 768px) {
    .calculator--grids {
        grid-template-columns: 1fr;
    }
}

.input-group {
    margin-bottom: 20px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.input-group label {
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
    color: #4a5b6d;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
}

.input-group input {
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.result-card {
    background: #f8faf9;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    margin-bottom: 40px;
    border: 1px solid #edf2ef;
}

.result-card__value {
    font-size: 32px;
    font-weight: 800;
    color: #2e7d32;
}

#chart-container {
    position: relative;
    height: 400px;
    width: 100%;
    background: #f8faf9;
    border-radius: 12px;
    padding: 20px;
    border: 1px solid #edf2ef;
}

/* for an adaptive chart */
canvas {
    width: 100% !important;
    height: 100% !important;
}

/* animations */

:root {
    --base-green: #2e7d32;
    --bright-salad: #2ecc71;
    --danger-red: #e74c3c;
}

.result-card__value {
    transition: color 0.3s ease;
    color: var(--base-green);
}

.result-plus {
    color: var(--bright-salad);
}

.result-minus {
    color: var(--danger-red);
}